/*------------------------reset------------------------*/
body {font-family: 'open_sansregular',Arial,sans-serif;min-width: 320px;}
html, body{width: 100%;height: 100%;}
*{margin:0;padding:0;}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, ul, li, img, {font-size: 100%;font: inherit;margin: 0;padding: 0;border: 0;font-weight: normal;vertical-align: baseline;}
html {box-sizing: border-box;}
ul {list-style: none;margin: 0;}
img {max-width: 100%;height: auto;}
/*------------------------end reset------------------------*/



























