@media screen and (max-width:1200px) {
		.item-content{top: 17%;}
		.item-title{font-size: 38px;}
		.item-desc{font-size: 22px;margin-bottom: 30px;}
}
@media screen and (max-width:992px) {
		.item-title {font-size: 34px;}
		.item-desc {font-size: 18px;margin-bottom: 25px;}
		.item-btn {font-size: 14px;padding-right: 25px;padding-left: 25px;}
		.wrapp-about {margin-top: 70px;margin-bottom: 70px;}
		.services {margin-top: 70px;margin-bottom: 65px;}
		.wrapp-folio {margin-top: 70px;margin-bottom: 40px;}
}
@media screen and (max-width:767px) {
		.hamburger-menu {display: inline-block;transition: all 0.3s ease-in-out;}
	  .menu-trigger {display:block;}
	  .nav-head .navbar-style li {display:block;border-top:1px #ccc solid;}
	  .nav-head .navbar-style li:last-child {border-bottom: 1px #ccc solid;}
	  .nav-head .navbar-style {display:none;}
	  .navbar-style , .wrapp-logo,.nav-head .navbar-style li{float: initial;}
		.nav-head .navbar-style li a{text-align: center;}
		.wrapp-contacts .content-subtitle, .wrapp-contacts .content-title {text-align: center;}
		.copyright , .add-info , .social-list{text-align: center;}
		.social-list {margin-top: 5px;margin-bottom: 5px;}
		.subscr-btn{position: initial;}
		.content-subscr {margin-right: 0;text-align: center;}
		.wrapp-subscr-btn {text-align: center;margin-top: 15px;}
		.content-title{font-size: 26px;margin-bottom: 20px;}
		.content-subtitle{font-size: 14px;}
		.item-content {top: 5%;}
		.item-title {font-size: 30px;margin-bottom: 0;}
		.item-desc {font-size: 14px;margin-bottom: 20px;}
		.item-btn {font-size: 12px;padding-right: 20px;padding-left: 20px;line-height: 40px;}
		.wrapp-about {margin-top: 50px;margin-bottom: 50px;}
		.services {margin-top: 50px;margin-bottom: 45px;}
		.subscr-titlfont-size: 19px;}
		.subscr-desc {line-height: 18px;}
		.subscr-btn {padding-left: 50px;padding-right: 50px;line-height: 40px;font-size: 12px;}
		.wrapp-folio {margin-top: 50px;margin-bottom: 30px;}
		.nav-head .navbar-style li a {padding: 10px;line-height: 35px;font-size: 16px;}
}
@media screen and (max-width:480px) {
		.item-title {font-size: 25px;}
		.item-desc {font-size: 12px;margin-bottom: 10px;}
		.item-btn {font-size: 12px;padding-right: 20px;padding-left: 20px;line-height: 30px;}
		.wrapp-about ,.services ,.wrapp-folio  {margin-top: 30px;margin-bottom: 30px;}
		.more-btn {padding-left: 20px;padding-right: 20px;}
		.services-title{font-size: 16px;}
		.services-desc{font-size: 14px;}
}
@media screen and (max-width:360px) {
		.item-title {font-size: 20px;}
		.item-desc {font-size: 10px;margin-bottom: 5px;}
		.item-btn {font-size: 10px;line-height: 20px;}
		.owl-nav-left{left: 10px;}
		.owl-nav-right{right: 10px;}
		.services-col{margin-top: 15px;}
		.subscr-title {font-size: 16px;}
		.subscr-desc{font-size: 14px;}
		.subscr-btn {padding-left: 20px;padding-right: 20px;line-height: 35px;}
}